<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button class="icon-only" (click)="LogOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>history</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let user of UserList">
    <ion-card-header>
      <ion-card-subtitle>PASS REQUESTS</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
     
      <p  style="font-size: 17px;"><b>Vehicle Number :{{user.vehiclenum2}}</b></p>
      <p style="font-size: 17px;">From :{{user.From2}}</p>
      <p  style="font-size: 17px;">To :{{user.To2}}</p>
      <p  style="font-size: 17px;">Reason :{{user.reason}}</p>
      <p  style="font-size: 17px;">Date :{{user.date}}</p>
      <p  style="font-size: 17px;">Status :{{user.acpd}}</p>
      
    </ion-card-content>
  </ion-card> 
  <ion-card *ngFor="let mask of UserList1"> 
    <ion-card-header>
      <ion-card-subtitle>MASK FINE</ion-card-subtitle>
      
    </ion-card-header>
  
    <ion-card-content>
      
      <p  style="font-size: 17px;"><b>Vehicle Number :{{mask.vehiclenum2}}</b></p>
      <p style="font-size: 17px;">Date :{{mask.date}}</p>
      <p  style="font-size: 17px;">Time :{{mask.time}}</p>
      <p  style="font-size: 17px;">Status :{{mask.nomask}}</p>
      
      
    </ion-card-content>
  </ion-card>
</ion-content>
