ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  
  #container a {
    text-decoration: none;
  }


  ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 20px;
    width: 100%;
  
    font-weight: bold;
    color: #fff;
  }
  ion-card {
    position: relative;
    text-align: center;
  }


  .form-btn-menu{
	width:100%;
	height: 100px;
	border:none;
	outline:none;
	text-transform:uppercase;
	font-weight:700;
	color:#f0f5fa;
	font-size:15px;
	padding:0px 0px;
	position:relative;
	margin:6px 0px;
	border-bottom:4px solid #7696b3;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height:46px;
    //background: rgba(144,176,203,1);
    background: rgb(58,77,180);
	//background: -moz-linear-gradient(top, rgba(144,176,203,1) 0%, rgba(170,200,228,1) 100%);
	//background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(144,176,203,1)), color-stop(100%, rgba(170,200,228,1)));
	//background: -webkit-linear-gradient(top, rgba(144,176,203,1) 0%, rgba(170,200,228,1) 100%);
	//background: -o-linear-gradient(top, rgba(144,176,203,1) 0%, rgba(170,200,228,1) 100%);
	//background: -ms-linear-gradient(top, rgba(144,176,203,1) 0%, rgba(170,200,228,1) 100%);
	//background: linear-gradient(to bottom, rgba(144,176,203,1) 0%, rgba(170,200,228,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90b0cb', endColorstr='#aac8e4', GradientType=0 );
}
.form-btn-menu i{
display: block;
font-size: 18px;
text-align: center;
}