
<app-alert-info></app-alert-info>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button class="icon-only" (click)="LogOut()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>RESET PASSWORD</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-datetime  [value]="today"></ion-datetime> -->
<app-alert-info></app-alert-info>
<ion-content>
  <div class="contain">
  <div class="wrap">
    <ion-input class="input" type="text"  [(ngModel)]="this.c"  placeholder="OLDPASSWORD"></ion-input>
  </div>

  <div class="wrap">
    <ion-input class="input"  type="text" [(ngModel)]="this.a"   placeholder="NEWPASSWORD"></ion-input>
  </div>
  <div class="wrap">
    <ion-input class="input" type="text"  [(ngModel)]="this.b"  placeholder="CONFIRM NEW PASSWORD"></ion-input>
  </div>
  </div>
  
<!-- SAVE and CLEAR Button -->
<div class="buttondiv">
  <button class="btn-grad" (click)="WINDOW()"><i class="fas fa-users"></i>CONFIRM</button>
</div>
</ion-content>