ion-menu-button {
    color: var(--ion-color-primary);
  }
  .contain{
      margin-top: 150px;
      align-items: center;
      justify-content: center;
    }
    .wrap{
      font-family: 'Roboto Slab', serif;
      display: block;
      margin : 0 auto;
      background-color: rgba(217, 233, 216, 0.178);
      border-radius: 10px;
      border: 1px solid rgba(102, 17, 17, 0.507);
      margin-bottom: 20px;
      box-shadow: 0px 15px 3px 0px rgba(7, 7, 7, 0.15);
      text-align: center;
      width: 40%;
      min-width: 340px;
      opacity: 1;
    }
    .buttondiv{
      text-align: center;
    }
    .btn-grad {background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4  51%, #CC95C0  100%)}
    .btn-grad {
       margin: auto;
       margin-left: 10px;
       margin-top: 10px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       font-weight: bold;
       transition: 0.5s;
       background-size: 200% auto;
       color: rgb(92, 62, 62);
       box-shadow: 0 0 10px rgb(92, 83, 83);
       border: 1px solid rgba(255, 255, 255, 0.507);
       border-radius: 10px;
       outline: none;
     }