<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button class="icon-only" (click)="close()">
        <ion-icon name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>REQUEST HAS BEEN SENT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      <ion-card-title>PLEASE WAIT FOR IT TO BE SANCTIONED</ion-card-title>
      <p>May,13,2021</p>
    </ion-card-header>
  
    
  </ion-card>

</ion-content>
