<!-- 
	
  <div [class]="BodyClass" *ngIf="message">

  <div [class]="WarningClass" *ngIf="message.type==2" id="exampleModal" [style]="StyleClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert-box">
       
        <div class="modal-body confirm-alert">
            <div class="alert-top"> 
              <button type="button" (click)="message.closeFn()" class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            <i class="fas fa-exclamation alert-icon"></i>
            <h4>Warning</h4>
            <p>{{message.text}}</p>
          </div>
          
          <div class="row justify-content-center">
              <button class="submitbtn" (click)="message.closeFn()">Ok</button>
              
          </div> 
        </div>
        
      </div>
    </div>
  </div>
      

      
       
        

  <div [class]="WarningClass" *ngIf="message.type==1" id="exampleModalsuccess" [style]="StyleClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert-box">
       
        <div class="modal-body confirm-alert">
            <div class="alert-top">
              <button type="button" class="close" (click)="message.closeFn()" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            <i class="far fa-check-circle alert-icon"></i>
            <h4>Success</h4>
            <p>{{message.text}}</p>
          </div>
          
          <div class="row justify-content-center">
              <button class="submitbtn" (click)="message.closeFn()">OK</button>
            
          </div> 
        </div>
        
      </div>
    </div>
  </div>
      

  

  <div [class]="WarningClass" *ngIf="message.type==3" [style]="StyleClass" id="exampleModalerror" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert-box">
       
        <div class="modal-body confirm-alert">
            <div class="alert-top">
              <button type="button" class="close" (click)="message.closeFn()" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            <i class="fas fa-exclamation-triangle alert-icon"></i>
            <h4>Error</h4>
            <p>{{message.text}}</p>
          </div>
          
          <div class="row justify-content-center">
              <button class="submitbtn" (click)="message.closeFn()">OK</button>
      
          </div> 
        </div>
        
      </div>
    </div>
  </div>
      
 
  

  <div [class]="WarningClass" *ngIf="message.type==4" [style]="StyleClass" id="exampleModalconfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert-box">
        <div class="modal-body confirm-alert">
            <div class="alert-top">
              <button type="button" class="close" (click)="message.closeFn()" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            <i class="far fa-thumbs-up alert-icon"></i>
            <h4>Confirmation</h4>
            <p [innerHtml]="message.text"></p>
          </div>
          
          <div class="row justify-content-center">
              <button class="submitbtn" type="button" (click)="message.yesFn()">Proceed</button>
              <button data-dismiss="modal" type="button" (click)="message.closeFn()" aria-label="Close">Close</button>
          </div> 
        </div>
        
      </div>
    </div>
  </div>

  <div [class]="WarningClass" *ngIf="message.type==5" id="exampleModalsuccess" [style]="StyleClass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert-box">
       
        <div class="modal-body confirm-alert">
            <div class="alert-top">
              <button type="button" class="close" (click)="message.closeFn()" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
            <i class="far fa-check-circle alert-icon"></i>
            <h4>Success</h4>
            <p [innerHtml]="message.text"></p>
          </div>
          
          <div class="row justify-content-center">
              <button class="submitbtn" (click)="message.yesFn()">OK</button>
              <button data-dismiss="modal" (click)="message.closeFn()" aria-label="Close">Close</button>
          </div> 
        </div>
        
      </div>
    </div>
  </div>
  </div>  
 -->

<div [class]="BodyClass" *ngIf="message">
  <div [class]="WarningClass" *ngIf="message.type==2" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" [style]="StyleClass"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content alertmodal-div">

          <button type="button" class="close" data-dismiss="modal" (click)="message.closeFn()" aria-label="Close">
              <i class="fas fa-times"></i>
          </button>

          <span><i class="fas fa-exclamation"></i></span>
          <h6>WARNING</h6>
          <p>{{message.text}}</p>
          <div class="row justify-content-center">
            <div class="col-12"><button class="okbtn" (click)="message.closeFn()">OK</button></div>
        </div>
      </div>
  </div>
</div>

<div [class]="WarningClass" *ngIf="message.type==1" tabindex="-1" role="dialog"
aria-labelledby="mySmallModalLabel" [style]="StyleClass"  aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content alertmodal-div">

        <button type="button" class="close" data-dismiss="modal" (click)="message.closeFn()" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>

        <span><i class="far fa-check-circle"></i></span>
        <h6>SUCCESS</h6>
        <p>{{message.text}}</p>
        <div class="row justify-content-center">
          <div class="col-12"><button class="okbtn" (click)="message.closeFn()">OK</button></div>
      </div>
    </div>
</div>
</div>

<div [class]="WarningClass" *ngIf="message.type==3" tabindex="-1" role="dialog"
aria-labelledby="mySmallModalLabel" [style]="StyleClass"  aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content alertmodal-div">

        <button type="button" class="close" data-dismiss="modal" (click)="message.closeFn()" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>

        <span><i class="fas fa-exclamation-triangle"></i></span>
        <h6>ERROR</h6>
        <p>{{message.text}}</p>
        <div class="row justify-content-center">
          <div class="col-12"><button class="okbtn" (click)="message.closeFn()">OK</button></div>
      </div>
    </div>
</div>
</div>

<div [class]="WarningClass" *ngIf="message.type==4" tabindex="-1" role="dialog"
aria-labelledby="mySmallModalLabel" [style]="StyleClass"  aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content alertmodal-div">

        <button type="button" class="close" data-dismiss="modal" (click)="message.closeFn()" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>

        <span><i class="far fa-thumbs-up"></i></span>
        <h6>Confirmation</h6>
        <p [innerHtml]="message.text"></p>
        <!-- <button class="okbtn" (click)="message.yesFn()">PROCEED</button> -->
        <div class="row justify-content-center">
          <div class="col-6"><button class="okbtn" (click)="message.yesFn()">OK</button></div>
          <div class="col-6"><button class="okbtn" (click)="message.closeFn()">Close</button></div>
      </div>
    </div>
</div>
</div>

<div [class]="WarningClass" *ngIf="message.type==5" tabindex="-1" role="dialog"
aria-labelledby="mySmallModalLabel" [style]="StyleClass"  aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content alertmodal-div">

        <button type="button" class="close" data-dismiss="modal" (click)="message.closeFn()" aria-label="Close">
            <i class="fas fa-times"></i>
        </button>

        <span><i class="far fa-check-circle"></i></span>
        <h6>Success</h6>
        <p [innerHtml]="message.text"></p>
        <div class="row justify-content-center">
          <div class="col-6"><button class="okbtn" (click)="message.yesFn()">OK</button></div>
          <div class="col-6"><button class="okbtn" (click)="message.closeFn()">Close</button></div>
      </div>
    </div>
</div>
</div>

<div [class]="WarningClass" *ngIf="message.type==6" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" [style]="StyleClass"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content alertmodal-div">

          <!-- <button type="button" class="close" data-dismiss="modal" (click)="message.closeFn()" aria-label="Close">
              <i class="fas fa-times"></i>
          </button> -->

          <span><i class="far fa-thumbs-up"></i></span>
          <h6>Continue</h6>
          <p>{{message.text}}</p>
          <div class="row justify-content-center">
            <div class="col-12"><button class="okbtn" (click)="message.closeFn()">Continue</button></div>
        </div>
      </div>
  </div>
</div>
<div [class]="BackFade"></div> 
</div>
 
